.educations-header {
  font-size: 40px;
  line-height: 1.1;
  font-family: "Inter", "Google Sans Regular", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}

@media (max-width: 1380px) {
  .educations-header {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .educations-header {
    font-size: 30px;
  }
}
